html {
  height: 100%;
}

body {
  background-image: url("./images/dc.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.wrapper {
  padding: 0px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.35);
}

.hero {
  font-family: "Courgette", cursive;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 0.5px gray;
}

.hero h1 {
  margin: 0px;
  font-size: 80px;
}

.hero h3 {
  margin: 0px;
  font-size: 40px;
}

.main-button {
  font-size: 20px;
  border-width: 2px;
  color: #a07984;
  border-color: white;
  background-color: white;
  box-shadow: 1px 1px 0.5px gray;
}

.main-button:hover {
  color: #a07984;
  background-color: white;

  box-shadow: 2px 2px 1px gray;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 4em;
  }

  .hero h3 {
    font-size: 2em;
  }
}
