.location-container {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  color: white;
  padding-top: 20px;
}

.location-map {
  padding-top: 10px;
}

.location-description {
  font-size: 20px;
}

.loading-map {
  padding: 20px;
}

@media (max-width: 600px) {
  .location-container {
    height: 750px;
  }
}
